{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Edit Post</h2>
    <form action="/posts/{{ post.id }}/edit" method="POST">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ post.title }}">
        <label for="content">Post Content</label>
        <input name="content" id="content" value="{{ post.content }}">
        
        <a href="/posts/{{ post.id }}" class="btn btn-info">Cancel</a>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>
{% endblock %}