{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Add Post for {{ user.get_full_name }}</h2>
    <div class="new-post-form">
        <form action="/users/{{ user.id }}/posts" method="POST">
            <label for="title">Title</label>
            <input name="title" id="title">
            <label for="content">Content</label>
            <input name="content" id="content">
            <a href="/users/{{ user.id }}" class="btn btn-info" >Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
            {% for tag in tags %}
                <input type="checkbox" name="tag" value="{{ tag.id }}">{{ tag.name }}<br>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}