{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ post.title }}</h2> <br>
    <p>{{ post.content }}</p>
    <p class="font-italic">By {{ post.user.get_full_name }}</p>
    <a href="/users/{{ post.user.id }}" class="btn btn-outline-primary">Back</a>
    <a href="/posts/{{ post.user.id }}/edit" class="btn btn-primary">Edit</a><br>
    <form action="/posts/{{ post.user.id }}/delete" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
   
</div>
{% endblock %}